.statusBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 32px 0 36px;
  z-index: 60;
  pointer-events: none;
  font-weight: 600;
  font-size: 15px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 7px;
}
